#myForm {
  width:200px;
  margin-left:10px;
}
#loading {
  padding:10px;
  display:none;
}
#centerbar {
  background-color:white;
  padding:0px !important;
  padding-bottom:30px !important;
}
#error-msg {
  color:red;
}
#info {
  text-align:center;
  background-color:#E8E8E8;
  font-size:1em;
  padding:5px;
}
html,body {
  background-color: #DCDCDC !important;
  height:100vh;
}
h1 {
  text-align:center;
  background-color:black;
  padding:10px;
  margin:0px !important;
  color:white !important;
}
.bi-info-circle-fill {
  width:2em;
  height:2em;
  margin-left:10px;
}
p {
  margin:20px !important;
}
a{
  text-decoration: none !important;
}
